/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fefefe;
$light-gray:		#767268;
$dark-gray:			#333;
$beige:				#F2ECE5;

$brand-color:		#E9942F;
$accent-color:		#F8BA33;


$link-color:        $brand-color;
$link-hover:        $accent-color;

.brand-color {
	color: $brand-color;
}

.accent-color {
	color: $accent-color
}
