/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fefefe;
$light-gray:		#767268;
$dark-gray:			#333;
$beige:				#F2ECE5;

$brand-color:		#E9942F;
$accent-color:		#F8BA33;

$red:				#c0392b;
$pink:				#e74c3c;
$orange:			#e67e22;
$pumpkin:			#d35400;
$yellow:			#f1c40f;
$mustard:			#f39c12;
$light-green:		#1abc9c;
$dark-green:		#16a085;
$blue:				#2980b9;
$dark-blue:			#34495e;
$purple:			#9b59b6;


$link-color:        $brand-color;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/