
/*********************
FOOTER STYLES
*********************/

/* Sticky footer solution */

html, body {
height: 100%;
}
#container {
display: table;
height: 100%;
width: 100%;
}
.footer {
display: table-row;
height: 1px;
}


.footer {
	clear: both;
	color: $white;
	background: $dark-gray;
}

#footer-widgets {
	background: $light-gray;
}

	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		padding-left: 1%;
	}


/**** LARGER MOBILE SCREENS *****/

@include breakpoint( palm ) {
	
}

/**** TABLET AND UP ****/

@include breakpoint( tablet ){
	
}

/**** DESKTOP AND UP ****/

@include breakpoint( laptop ){
	
}