/*********************
HEADER STYLES
*********************/

.header {
	border-bottom: 1px solid #ccc;
}

#logo {
	font-size: 1em;
	text-align: center;
}


/**** LARGER MOBILE SCREENS *****/

@include breakpoint( palm ) {
	
}

/**** TABLET AND UP ****/

@include breakpoint( tablet ){
	#logo {
		font-size: 2.5em;
		text-align: left;
	}
}

/**** DESKTOP AND UP ****/

@include breakpoint( laptop ){
	
}