/*********************
HEADER STYLES
*********************/

.header {
	border-bottom: 1px solid #ccc;
}

#logo {
	font-size: 1em;
	text-align: center;
	z-index: 3000;

	img { display: none; }
}


/**** LARGER MOBILE SCREENS *****/

@include breakpoint( palm ) {
	
}

/**** TABLET AND UP ****/

@include breakpoint( tablet ){

	.header {
		border-bottom: 0;
	}

	#logo {
		position: absolute;
		text-indent: -9999px;

		img {
			display: block;
			margin-top: -2em;
		}
	}

}

/**** DESKTOP AND UP ****/

@include breakpoint( laptop ){
	
}