/*********************
NAVIGATION STYLES
*********************/

/*
Basic nav styling
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			border-bottom: 1px solid $light-gray;
			color: $white;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

				color: $link-color;

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {
			background-color: $accent-color;
		}

	}  /* end current highlighters */

} /* end .nav */

/* Secondary top nav */

.secondary-nav {
	display: none;
}

ul.mobile-nav {
	margin-top: 0;
}

/* Flyout nav */

#container {
  position: relative;
  left: 0;
  transition: all 0.5s ease 0s;

  &.active {
	left: 16em;
  }
}

#menu-link {
    position: absolute;
    display: block;
    cursor: pointer;
    font-size: 2em;
    left: .2em;
    margin-top: -1.4em;
}

#menu {
  clear: both;
  overflow: hidden;
  background: #333;
}

.js #menu {
  width: 16em;
  height: 100%;
  position: absolute;
  top: 0;
  left: -16em;
}

/**** LARGER MOBILE SCREENS *****/

@include breakpoint( palm ) {
	
}

/**** TABLET AND UP ****/

@include breakpoint( tablet ){

.nav {
		border: 0;
		margin: 0;
		float: right;
		padding-right: 7%;

	li {
		float: left;
		position: relative;

		a {
			font-size: .9em;
			border-bottom: 0;
			color: $white;
			padding: .8em .5em;
			text-transform: uppercase;

			&:hover, &:focus {
				background: $accent-color;
				color: $white;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/* Secondary top nav */

.secondary-nav {
	display: block;
	margin: 0;

	li {
		display: inline;
		padding: .8em;
		font-size: .8em;
		float: right;
	}
}

.mobile-nav {
	display: none;
}

.top-bar.tencol, .top-bar.twocol {
	margin-left: 0;
	margin-top: .2em;
} 

/* Larger device menu */

#container {
  position: relative;
  left: 0;

  &.active {
	left: 0;
  }
}

#menu-link {
    display: none;
}

#menu {
  clear: both;
  background: $brand-color;
}

.js #menu {
  max-width: none;
  position: static;
  width: auto;
}
	
}

/**** DESKTOP AND UP ****/

@include breakpoint( laptop ){

	.nav {
		li {
			a {
				font-size: 1em;
				padding: .8em 1em;
			}
		}
	}

}
