/***********************
Member Directory Styles
***********************/

.participant-name {
	color: $brand-color;
	text-decoration: underline;
	cursor: pointer;
}

.contact-info {
	display: none;
	transition: .2s ease-in-out;
}

.contact-info.show-info {
	display: block;
}